

#h1tag{
text-align: center !important;
margin-top:40px !important;
color:blueviolet;
font-weight:bold;
font-size: 40px;
}
.col-md-6{
    margin-top:30px;
    padding:35px  !important;
}

.url-link{
    width:80%;
    padding:6px;
    border:2px solid black;
    border-radius:5px; 
}
h2,h6{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
 #login{
    border:3px solid blue !important;
    border-radius:5px;
    text-decoration: none;
    padding:5px;
    float:right;
    background-color: blue;
    color:white;
    font-weight: bold;
    margin-right:20px;
}
.login-form{
    display: flex;
    flex-direction: column;
    
}
.login-form input{
    cursor: pointer;

}
.login-form input:hover{
    border: solid 2px black;
}
.h1{
    text-align: center;
    margin-top: 50px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    
}
.signup-form input{
    cursor: pointer;

}
.signup-form input:hover{
    border: solid 2px black;
}
li a{ 
    text-decoration: none;
    display: flex;
    align-items: center;
}
